{% load bootstrap3 %}
{% load staticfiles %}
{% load nuts_tags %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- jQuery and JavaScript needed for panel collapse, among other things -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Custom CSS and font from Google -->
    <link rel="stylesheet" type="text/css" href="{%  static "css/default.css" %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <!-- Font Awesome icons, used e.g. in 404.html and 500.html -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- NUTS favicon -->
    <link rel="shortcut icon" href="{% static "img/nuts.ico"%}">

    <title>NUTS</title>

  </head>

  <body>

    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="nav">
        <li><a href="/" title="Refresh"><i class="fa fa-home"></i></a></li>
        <li><a href="#status" title="Jump to satellite status"><i class="fa fa-heartbeat"></i></a></li>
        <li><a href="#commands" title="Jump to commands"><i class="fa fa-gamepad"></i></a></li>
      </ul>
    </div><!-- /.sidebar -->

    <div class="container-fluid">
      <div class="content">

        <!-- Filter messages -->
        <h1 id="status"><i class="fa fa-heartbeat"></i>&nbsp;Satellite status</h1>
        <div class="hr-custom"></div>
        {% if error %}
          <div class="alert alert-danger alert-dismissible fade-in" role="alert">
            <button type="button" class="close" data-dismiss="alert" alabel="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{ error }}</p>
          </div><!-- /.alert -->
        {% endif %}

        <!-- Filter messages form -->
        <form action="/" method="get">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane"></i></button>
            </span>
            <input type="number" class="form-control" placeholder="Number of messages to display" aria-describedby="filter-number" name="f"/>
          </div>
        </form>

        <!-- Display messages -->
        {% if messages %}
          <p class="text-muted">{{ messages|length }} latest messages</p>
          {% for msg in messages %}
            {% convert msg as data %}
            <div class="panel panel-default message">
              <div class="panel-heading">
                <a href="#{{ msg.timestamp|slugify }}" data-toggle="collapse" data-target="#collapse-{{ msg.timestamp|slugify }}">
                  <h4 class="panel-title">
                    {{ msg.timestamp|date:"Y-m-d H:i:s" }} • {{ data.0.1 }}
                  </h4>
                </a>
              </div><!-- /.panel-heading -->
              <div id="collapse-{{ msg.timestamp|slugify }}" class="panel-collapse collapse">
                <div class="panel-body no-padding">
                  <div class="row">
                    {% for byte, tuple in data.items %}
                      <div class="col-xs-6 {% cycle '' 'msg-background' %}">
                        <p>{{ tuple.0 }}</p>
                      </div>
                      <div id="msgcontent" class="col-xs-6 {% cycle '' 'msg-background' %}">
                        <p>{{ tuple.1 }} {{ tuple.2 }}</p>
                      </div>
                    {% endfor %}
                  </div><!-- /.row -->
                </div><!-- /.panel-body -->
              </div><!-- /.panel-collapse -->
            </div><!-- /.panel -->
          {% endfor %}
        {% endif %}

        <!-- CSP command form -->
        <h1 id="commands"><i class="fa fa-gamepad"></i>&nbsp;Commands</h1>
        <div class="hr-custom"></div>
        {% if feedback %}
          <ul><li>{{ feedback }}</li></ul>
        {% endif %}
        {% if cmd_sent %}
          <div class="alert alert-success" role="alert">
            <p>The following command was sent to the CSP module: <code>{{ cmd_sent.name }}</code></p>
          </div>
        {% endif %}
        <p class="text-muted">Send a command to the CSP module</p>
        <form type="text" action="/" method="POST">
          <div class="input-group">
            <span class="input-group-btn">
              <!-- '.btn.form' is a Bootstrap button hack adapted to
              Django form field -->
              <button class="btn form" type="submit"><i class="fa fa-paper-plane"></i></button>
            </span>
            {% csrf_token %}
            {{ form }}
          </div><!-- /.input-group -->
        </form>
      </div><!-- /.content -->
    </div><!-- /.container-fluid -->

  </body>
</html>
