/* Color template
blue:       rgb(56,143,200)
light grey: rgb(238,238,238)
dark grey:  rgb(80,81,82)
*/

/* Droid Sans font downloaded from Google Fonts in base.html template */
body {
  background: rgb(238,238,238);
  font-family: 'Droid Sans', serif;
  height: 100%;
}

/* Custom horizontal rule */
.hr-custom {
  margin: 10px 0 10px 0;
  opacity: 0.1;
  border-top: .1em solid rgb(0,0,0);
  border-bottom: .1em solid rgb(221,221,221);
}

/* Message panel */
.message { margin: 0 0 5px 0; }
.message p { margin: .1em; }
.content p { margin: 5px 0 5px 0; }
.panel-heading { padding: 5px 5px 5px 5px; }
.panel-title { color: rgb(56,143,200); }
.panel-heading a { text-decoration: none; }
.panel-heading a:hover h4 { color: rgba(56,143,200,.5); }
.panel-body.no-padding { padding: 0 15px 0 15px; }

/* Alternating background for rows in message panel */
.msg-background { background-color: rgb(238,238,238); }

/* Sidebar */
.sidebar {
  width: 50px;
  height: 100%;
  position: fixed;
  background-color: rgb(80,81,82);
  border-right: 3px solid rgb(56,143,200);
}

.nav a {
  font-size: 18px;
  color: rgb(238,238,238);
  text-align: center;
}

.sidebar .nav a:hover { color: rgb(56,143,200); }

.content { padding: 0 15px 15px 50px; }

/* Bootstrap form button adapted to Django form field */
.btn.form {
  padding: 0 12px 0 12px;
  height: 26px;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(204,204,204);
}

.btn.form:hover {
  background-color: rgb(230,230,230);
  border: 1px solid rgb(173,173,173);
}